body {
    font-family: Consolas, monaco, monospace;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.sentence-note-view-all-table{
    width: 100%;
    height: auto;
}